node_modules/
/package-lock.json
package-lock.json
/backend/__pycache__/
/backend/venv/

# Virtual Environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
__pycache__/
.pytest_cache/


# Flask's development server logs
instance/


# Editor/IDE specific files
.vscode/
.idea/

/Zadani.pdf
/backend/itu_data.db
/backend/.mypy_cache/
