 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
  --blue-1: #0a2472;
  --purple-1: #390099;
  --main: #00a8e8;





  --gray: #343a40;
  --bg: #0b090a;
  --bg-alt: #161a1d;
  --bg-3: #22272d;
  --bg-4: #252c34;

  --pink: #ff206e;
  --yellow: #fbff12;
  --cyan: #41ead4;

  --white: #dee2e6;
}
