@import "_colors.css";


*{
    color: var(--white);
}

body{
    background: var(--bg);
    font-family: 'Poppins', sans-serif;
}

footer, header{
    background: var(--main);
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.App{
    flex: 1;
    display: flex;
}

.conn-status{
	position: absolute;
	width: 100%;
	text-align: center;
	background: var(--red);
	font-size: 0.8em;
}

.text-grad{
	  background: rgb(2,0,36);
	  background: linear-gradient(90deg, var(--purple-1) 0%, var(--blue-1) 100%);
	  background-clip: text;
	  color: transparent;
}

h2{
	  color: var(--cyan);
	  padding: 0.1em;
}

h3{
	  color: var(--yellow);
	  input{
	  color: var(--yellow);
	  background: unset;
	  border: none;
	  font-weight: 500;
	  &:active{
		  box-shadow: none;
		  outline: none;
	  }
	  &:focus{
		  outline: none;

	  }
}
}


.text-left{
	text-align: start;
}


button, .btn{
  white-space: nowrap;
  text-overflow: ellipsis;
  border: unset;
  background: unset;
  overflow: hidden;
	margin: 3px;
	margin-top: 0.4em;
	padding:  0.25em 0.7em;
	border-radius: 0;
	position: relative;
  z-index: 3;

	font-size: 0.85rem;
	color: var(--bg);
	font-weight: 500;
  &:focus{
		box-shadow: none;
	}
  &:hover{
		color: var(--bg);
	}
	background: var(--pink);
	&.active:after, &.active:before{
			content: " ";
			width: 5em;
			height: 5em;
			position: absolute;
			right: 0;
			transform: translateX(60%) rotate(45deg)  ;
			background: var(--bg-alt);;
		}
	&.active:after{
			top: -220%;
		}
	&.active:before{
			bottom: -220%;
		}
}

.list{
	display: flex;
	flex-direction: column;
}

.content{
	padding: 1.5em 1em;
	min-width: 60%;
	margin: 0 auto;
	flex: 6;
}

.comment{
	position: relative;
	background: var(--white);
	margin-bottom: 1em;
	box-shadow: 10px 10px 0px 0px var(--bg-4);
	h4{
			font-size: 1.1em;
			padding: 0.25em 0.5em;
			background: var(--green);
		}
	p{
			padding-left: 0.75em;
			padding-bottom: 0.25em;
		}
	*{
			color: var(--bg);
		}


}

.cut-corner{
	&:before{
			content: " ";
			width: 5em;
			height: 5em;
			position: absolute;
			top: 0;
			right: 0;
			background: var(--bg);
		}
	 &:before{
			transform: translateX(80%) translateY(-60%) rotate(45deg)  ;
}
}

.hide-overflow{
	overflow: hidden;
	padding: 10px;
}

.code-wrapper{
	padding: 10px;
	overflow: hidden;
}

code{
	margin-bottom: 2em;
	display: block;
	box-shadow: 10px 10px 0px 0px var(--bg-4);
	table{
		width: 100%;
	}

	tr{
		&:first-child{
			background: var(--yellow);
			position: relative;
			*{
				color: var(--bg);
			}
			div{
				display: flex;
				justify-content: space-between;
				span{
					margin-left: 1em;
					margin-right: 1em;
				}
			}
			&:hover{
			background: var(--yellow);
			}
		}
		td:first-child{
			width: 4ch;
			text-align: end;
			border-right: 2px solid var(--bg-4);
			padding: 0 0.2em;
		}
		background: var(--bg-alt);
		&:hover{
			background: var(--bg-3);
		}
		pre{
			margin-bottom: unset;
			padding-left: 0.5em;
			padding-right: 0.5em;
		}

		td:nth-child(1){
			user-select: none;
		}
	}
}

.project-container{
	display: flex;
	min-height: 100%;
	width: 100%;
	.sidebar{
		background: var(--bg-alt);
		flex: 1;
	}
}

.icon-svg{
	path{

    fill:none;
stroke:#0b090a;
stroke-width:7;
stroke-linecap:round;
stroke-linejoin:round;
stroke-dasharray:none;
stroke-opacity:1;

}

}
