@import "_colors.css";


*{
    color: var(--white);
}

body{
    background: var(--bg);
    font-family: 'Poppins', sans-serif;
}

footer, header{
    background: var(--main);
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.App{
    flex: 1;
    display: flex;
}

.conn-status{
	position: absolute;
	width: 100%;
	text-align: center;
	background: var(--red);
	font-size: 0.8em;
}

.text-grad{
	  background: rgb(2,0,36);
	  background: linear-gradient(90deg, var(--purple-1) 0%, var(--blue-1) 100%);
	  background-clip: text;
	  color: transparent;
}

h2, h2>a, h2>a:hover {
	  color: var(--cyan);
	  padding: 0.1em;
		text-decoration: none;

}

h4{
	  color: var(--pink);
	  padding: 0.1em;
}

h3{
	  color: var(--yellow);
	  display: flex;
	  align-items: center;
	  a{
		  display: inline-block;
		  margin-left: 1em;
	  }
}

input.inline-edit{
	width: 100%;
	color: inherit;
	background: unset;
	border: none;
	font-weight: 500;
	padding-left: 0.17em;
	border: 2px solid transparent;
	&:hover{
			background: var(--bg-3);
			border: 2px solid var(--bg-4);
		}
	&:active{
	  box-shadow: none;
	  outline: none;
  }
  &:focus{
			background: var(--bg-3);
			outline: none;
  }
}

input.inline-edit-user{
	width: 100%;
	color: inherit;
	background: unset;
	border: none;
	font-weight: 500;
	padding-left: 0.17em;
	border: 2px solid transparent;
	&:hover{
			background: var(--bg-3);
			border: 2px solid var(--bg-4);
		}
	&:active{
	  box-shadow: none;
	  outline: none;
  }
  &:focus{
			background: var(--bg-3);
			outline: none;
  }
}

.text-left{
	text-align: start;
}


button, .btn{
  white-space: nowrap;
  text-overflow: ellipsis;
  border: unset;
  background: unset;
  overflow: hidden;
	margin: 3px;
	margin-top: 0.4em;
	padding:  0.25em 0.7em;
	border-radius: 0;
	position: relative;

	font-size: 0.85rem;
	color: var(--bg);
	font-weight: 500;
  &:focus{
		box-shadow: none;
	}
  &:hover{
		color: var(--bg);
	}
	background: var(--pink);
	&.active:after, &.active:before{
			content: " ";
			width: 5em;
			height: 5em;
			position: absolute;
			right: 0;
			transform: translateX(60%) rotate(45deg)  ;
			background: var(--bg-alt);;
		}
	&.active:after{
			top: -220%;
		}
	&.active:before{
			bottom: -220%;
		}
}

.list{
	display: flex;
	flex-direction: column;
}

.content{
	padding: 1.5em 1em;
	min-width: 60%;
	margin: 0 auto;
	flex: 6;
}
.w-fit{
	width: fit-content;
}


.cut-corner{
	&:before{
			content: " ";
			width: 5em;
			height: 5em;
			position: absolute;
			top: 0;
			right: 0;
			background: var(--bg);
		}
	 &:before{
			transform: translateX(80%) translateY(-60%) rotate(45deg)  ;
}
}

.hide-overflow{
	overflow: hidden;
	padding: 10px;
}


.project-container{
	display: flex;
	min-height: 100%;
	width: 100%;
	.sidebar{
		background: var(--bg-alt);
		flex: 1;
	}
}

.icon-svg{
	path{
			fill:none;
			stroke:#0b090a;
			stroke-width:7;
			stroke-linecap:round;
			stroke-linejoin:round;
			stroke-dasharray:none;
			stroke-opacity:1;
		}
}
.icon-light-svg{
	@extend .icon-svg;
	path{
			stroke: var(--yellow);
		}
}

input, textarea, .select-search-input{
	background: var(--bg-alt);
}


.searchSelect{
  background: var(--bg-alt);
  height: 1.6em;
	width: 300px;
	position: relative;
	*{
			color: var(--white);
		}
	.select__control{
			height: 1.6em;
			display: flex;
			width: 100%;
			min-height: 0;
		}
	.select__value-container{
			padding-left: 0.17em;
		}
	.select__menu{
			background: var(--bg-3);
			&>.select__menu-list{
				&>.select__option{
					&:hover, &:active, &:focus {
						background: var(--bg-4);
					}
				}
			}
		}
}
