  // author Ondřej Bahunek xbahou00

  .main-title{
    color: var(--cyan);
    font-size: 5em;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .highlighted-number {
    color: var(--pink)
  }

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    height: 100vh;
    width: 90%;
    max-width: 1200px; 
    margin: 0 auto;
    box-sizing: border-box;
  }


//###############################################
// Project list

  .project-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 1200px;
  }
  
  .project-icons {
    display: flex;
    flex-wrap: wrap;
    max-height: 350px; 
    overflow-y: auto; 
    scrollbar-width: thin; 
    scrollbar-color: var(--pink) var(--black); 
    width: 95%;

    justify-content: center;
  }
  
  .project-icon {
    text-decoration: none;
    color: #333; 
    border: 1px solid #ccc; 
    margin: 10px;
    width: 200px; 
    height: 300px; 
    box-shadow: 10px 10px 0px 0px var(--bg-4);
  }

  .project-icon:hover .project-name {
    color: var(--yellow);
  }

  .project-icons::-webkit-scrollbar {
    width: 10px;
  }

  .project-icons::-webkit-scrollbar-thumb {
    background-color: #7e103e; 
    border-radius: 8px; 
  }
  .project-icons::-webkit-scrollbar-track {
    background-color: var(--pink);
    border-radius: 8px; 
  }


  .project-name {
    position: absolute;
    top: 0;
    left: 50%; 
  transform: translateX(-50%);
    padding: 5px;
    font-weight: bold;
    color: var(--cyan);
  }
  
  .project-description {
    margin-top: 5px;
    color: #666;
  }

  .project-overlay {
    position: relative;
    text-decoration: none;
    color: #333; 
    border: 1px solid #ccc; 
    width: 100%; 
    height: 100%; 
  }

  .project-code {
    height: 100%;
    overflow: hidden;    
    font-size: 8px;
  }

  .project-code :hover {
    background: None;
  }

  .trash-icon {
    position: absolute;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
    visibility: hidden;
  }
  


  .project-icon:hover .trash-icon {
    visibility: visible;
  }


h3{
	  color: var(--yellow);
	  margin-bottom: 40px;
}

// ############################################33
// create button 

.create-button {
  margin-top: 20px; 
  text-align: center;
}

.create-button button {
  font-size: 2em;
  width: 100px;
  height: 100px;
  line-height: 100px; 
  background-color: var(--pink); 
  color: #bc1d60;
  border: none;

  cursor: pointer;
}

.create-button button:hover {
  background-color: #bc1d60; 
  color: #7e103e; 
}

/* Plus sign styling */
.create-button button::after {
  content: '+';
  font-size: 2.5em;
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.create-button p {
  margin-top: 10px; 
  font-size: 1.2em; 
  color: var(--yellow);
}


// ############################################33
// conenction input 

.connection-input {
  text-align: center; 
  margin-top: 20px; 
  display: flex;
}


.connection-input label {

  margin-bottom: 10px; 
  margin-top: 10px; 
  color: var(--cyan);
  font-size: 1.2em; 
}

.connection-input input {
  width: 300px; 
  padding: 10px; 
  font-size: 1em; 
  border: 2px solid var(--pink); 
  width: 75%;
  color: var(--yellow);
  background-color: var(--black);
  height: 50px;
  vertical-align: middle;

}

/* Add a class with the red shadow */
.connection-input input.red-shadow {
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.7); /* Red shadow with transparency */
}

.connection-input button {
  width: 15%; 
  padding: 10px;
  font-size: 3.2em;
  background-color: var(--pink);
  color: #7e103e;
  border: none;
  margin: 0;
  cursor: pointer;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  line-height: 20px;
}


.connection-input button:hover {
  background-color: #bc1d60; 
  color: #7e103e; 
}

