@import "_colors.css";

.product-list {
	display: flex;
}

.products{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-template-rows: 380px;
	margin: 10px;
	overflow: hidden;
}


