@import "_colors.css";

.prod {
    cursor: pointer;
}

.prod-desc{
    border: 4px solid var(--main);
}
.prod-img{
    border: 4px solid var(--main);
    border-radius: 15px 15px 0 0;
    grid-row: 1;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.prod-text {
    grid-row: 2;
    background-color: white;
    padding: 20px;
}

.prod-price {
    font-size: 16px;
}


