@import "_colors.css";

.sidebar{
	background: lightgray;
	display: inline-block;
	width: fit-content;
	min-width: 15em;
	padding: 1em 0.6em;
}

.comments .comment{
		position: relative;
		background: var(--white);
		margin-bottom: 1em;
		box-shadow: 10px 10px 0px 0px var(--bg-4);
		h4{
				font-size: 1.1em;
					padding: 0.25em 0.5em;
					background: var(--green);
			}
	p{
				padding-left: 0.75em;
					padding-bottom: 0.25em;
			}
	h4, p{
				color: var(--bg);
			}
}

.code-wrapper{
		margin-bottom: 2em;
		padding: 0;
		box-shadow: 10px 10px 0px 0px var(--bg-4);
		form{
					background: var(--bg-alt) !important;
					textarea{
							border: 2px solid var(--bg-4);
					}
					input{
							border: none;
					}
		}
}
.code-line{
		background: var(--yellow);
		display: flex;
		justify-content: space-between;
		font-weight: 500;
		.lang{
					margin-left: 1em;
			}
	.date{
				margin-right: 1em;
			}
	*{
				color: var(--bg);
			}
}

pre{
	background: var(--bg-alt) !important;
	margin: 0;
	code{
				&>span{
						width: 100%;
						display: flex;
						justify-content: space-between;

						&>span{
								&>span:nth-child(1){
										border-right: 3px solid var(--gray);
										margin-right: 0.2em;
										width: 5ch;
								}
						}
						&:hover{
								background: var(--bg-4);
						}
						& .add-comment{
								display: none;
										height: 100%;
								button{
										height: 100%;
										width: 1.4em;
										margin: 0;
										padding: 0;
								}
						}
						&:hover .add-comment{
								display: inline;
						}
				}
		}
}
.popup-content {
	form{
					background: var(--bg-4);
				display: flex;
				flex-direction: column;
				input{
						width: fit-content;
				}
				padding: 0.2em;
		}
}


.editable-project-name {
	position: relative;
	display: inline-block;
	width: 100%;
  }
  
  .editable-project-name input {
	width: 100%;
	padding: 5px;
	background: none;
	font-size: 16px;
	text-align: center;

	color: #7e103e;
	border: solid transparent;
	border-radius: 3px;
  }
  
  .editable-project-name-hover input {
	width: 100%;
	padding: 5px;
	background: none;
	font-size: 16px;
	text-align: center;

	border: solid;
	border-color: #7e103e;
	color: #7e103e;
	border-radius: 3px;
  }

  // adapted from react-select-search style.css

/**
 * Main wrapper
 */
.select-search-container {
    width: 300px;
    position: relative;
    font-family: var(--select-search-font);
    color: var(--select-search-text);
    box-sizing: border-box;
}

.select-search-container *,
.select-search-container *::after,
.select-search-container *::before {
    box-sizing: inherit;
}

.select-search-input {
    position: relative;
    z-index: 1;
    display: block;
    height: 1.6em;
    width: 100%;
    padding: 0 40px 0 16px;
    background: var(--bg-alt);
    color: var(--white);
    outline: none;
    font-family: var(--select-search-font);
    font-size: 16px;
    text-align: left;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}


.select-search-select {
    background: var(--bg-alt);
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
    overflow: auto;
    max-height: 360px;
}

.select-search-container:not(.select-search-is-multiple) .select-search-select {
    position: absolute;
    z-index: 2;
    top: 1.6em;
    right: 0;
    left: 0;
    border-radius: 3px;
    display: none;
}

.select-search-container:not(.select-search-is-multiple).select-search-has-focus .select-search-select {
    display: block;
}

.select-search-options {
    list-style: none;
	padding: 0;
	z-index: 200;
}

.select-search-option,
.select-search-not-found {
    display: block;
    height: 42px;
    width: 100%;
    padding: 0 16px;
    background: var(--select-search-background);
    border: none;
    outline: none;
    font-family: var(--select-search-font);
    color: var(--white);
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.01rem;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}

.select-search-is-highlighted,
.select-search-option:not(.select-search-is-selected):hover {
    background: var(--bg-3);
    color: var(--white);
}
